p {
  margin: 0;
  padding: 0;
}
.list-group-item {
  border-left: none;
  border-right: none;
  border-top: none;
}
.list-group-item a {
  text-decoration: none;
}

.korzinka {
  margin-top: 80px;
}
.korzinka h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}

.korzinka .products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 130px;
  margin-bottom: 130px;
}
.korzinka .products span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.korzinka .products p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.korzinka .products_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
.korzinka .products_header button {
  background: #0073ff;
  border-radius: 4px;
  padding: 12px 32px;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
.korzinka .card1 {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 24px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(51, 51, 51, 0.06);
  border-radius: 8px;
  cursor: pointer;
}
.korzinka .card1 .z_pos {
  position: relative;
}
.korzinka .card1 .z_pos .like {
  position: absolute;
  right: 16px;
  bottom: 17px;
}
.korzinka .card1 span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
  margin-top: 16px;
}
.korzinka .card1 p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-top: 12px;
}

.korzinka .tech {
  display: flex;
  justify-content: space-between;
}

.korzinka .tech .left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* for Video Pages */
.video_page .col-lg-3 a {
  text-decoration: none;
}
.video_top {
  margin-top: 70px;
  margin-bottom: 30px;
}
.video_top span {
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
  margin-right: 25%;
}

.video_top input {
  border: 1px solid #bdbdbd;
  border-radius: 50px;
  width: 500px;
  padding: 10px 27px;
  background: #fcfcfc;
}
.col-lg-3 .video_center {
  margin-bottom: 30px;
  cursor: pointer;
}
.col-lg-3 .video_center p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  margin-top: 10px;
  margin-bottom: 5px;
}
.col-lg-3 .video_center img {
  width: 100%;
}
.col-lg-3 .video_center h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #131313;
  margin-bottom: 0;
}
.video_pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.video_pagination .pagination .left {
  margin: 0 10px;
}
.video_pagination .pagination .left a {
  border: none;
}
.video_pagination .pagination .left .page-link:focus {
  display: none;
}
.video_pagination .pagination .page-link {
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border: 1px solid #4f4f4f;
}

.video_pagination .pagination .page-link:focus {
  box-shadow: none;
  background: #0073ff;
  color: white;
}

/* news_top */
.news_top {
  margin-top: 70px;
  margin-bottom: 30px;
}
.news_top h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
}

.news_drop .dropdown button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  background: #f5f5f5;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
}
.news_drop {
  display: flex;
  margin-bottom: 30px;
}
.news_drop .dropdown {
  margin-right: 12px;
}
.news_drop .dropdown button::after {
  margin-left: 35px;
  vertical-align: 2px;
}
.news_drop .dropdown button:focus {
  box-shadow: none;
}
.news_drop .dropdown .dropdown-item {
  padding: 7px 12px;
}
.news_drop .dropdown .dropdown-item:hover {
  background: transparent;
  background: #edf5ff;
  border-radius: 4px;
  color: #0073ff;
}
.news_drop .dropdown-menu {
  padding: 7px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  transform: translate(0px, 45px) !important;
}

/* ============== */

.news_body .info img {
  width: 100%;
}

.news_body {
  position: relative;
  cursor: pointer;
}
.news_body .first {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  padding: 0 0 18px 16px;
  border-radius: 8px;
}

.news_body .first p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
.news_body .first div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.news_body .first div img {
  margin: 0 6px 0 0;
}

.news_body .first div span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 6px 0px 0;
}

.new_page {
  margin-bottom: 80px;
}

.new_page .New_end_top {
  display: flex;
}
.new_page .New_end_top div span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #00264d;
}
.new_page .New_end_top div p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.new_page .New_end_botom {
  display: flex;
}
.new_page .col-lg-3 {
  margin-bottom: 20px;
}
.new_page .New_end_top .child span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #8f8f8f;
  margin: 0 6px 0px 0;
}
.new_page .New_end_top .new-top1 {
  display: flex;
  flex-direction: column;
  padding: 2px 20px;
}

.new_page .col-lg-7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Auksion */

.auksion .products {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 12px 12px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 4px rgba(51, 51, 51, 0.06);
  margin-bottom: 24px;
}

.auksion .products div img {
  width: 100%;
  border-radius: 4px;
}
.auksion .products .f1 span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #121212;
}
.auksion .products .f1 {
  margin: 12px 0 6px;
}
.auksion .products div p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
}

.auksion .products .for_likes {
  position: relative;
}
.auksion .products .for_likes .abs {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 17px 16px;
  cursor: pointer;
}

.auk_bot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 0 200px;
}

.auksion .auk_bot button {
  background: #0073ff;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 12px 18px;
}

/* katalog */

.katalog {
  margin-left: 80px;
}
.katalog .accordion .accordion-button:focus {
  box-shadow: none;
}
.katalog .accordion .accordion-button::after {
  display: none;
}

.katalog .accordion .accordion-item .accordion-button {
  background: #0073ff;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}
.katalog .accordion .accordion-item .accordion-button img {
  margin-right: 6px;
}

.katalog_drop .accordion-collapse .col-lg-3 {
  background: #f5f5f6;
  padding-top: 10px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.katalog_drop .accordion-collapse a {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}
.katalog_drop .accordion-collapse a:hover {
  font-weight: 500;
}
.katalog_drop .accordion-collapse .accordion-body {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
.katalog_drop .accordion-collapse .accordion-body div {
  margin-right: 15px;
}
.katalog_drop .accordion-collapse .accordion-body:hover {
  background: #ffffff;
  border-right: 3px solid #0073ff;
}

.info_video_1 .video div span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  color: #121212;
}

.info_video_1 .video {
  display: flex;
  flex-direction: column;
}
.info_video_1 .video .share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}
.info_video_1 .video .share img {
  margin-right: 7px;
}
.info_video_1 .video .share span {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #121212;
  margin-right: 20px;
}
.info_video_1 .video .comments {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.info_video_1 .video .comments input {
  border: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 6px 0;
  width: 100%;
}
.info_video_1 .video .comments h6 {
  margin-bottom: 0;
  margin-bottom: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #121212;
}
.info_video_1 .video .comments img {
  margin-right: 12px;
}

/* register_top */

.register_top {
  font-family: Roboto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_top .register {
  width: 45%;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.13);
  border-radius: 8px;
  padding: 64px 64px;
  margin: 120px 0;
}
.register_top .register .title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register_top .register span{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #333333;
margin-right: 14px;
}
.register_top .register .title span {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #00264d;
  margin-bottom: 30px;
}
.register_top .register .form_register div span{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  margin-bottom: 23px;
}
.register_top .register .form_register {
  display: flex;
  flex-direction: column;
}
.register_top .register .form_register span {
  font-weight: normal;
  font-size: 14px;
  color: #212121;
  margin-bottom: 8px;
}
.register_top .register .form_register input {
  background: #ffffff;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  height: 45px;
  padding: 0 14px;
  margin-bottom: 24px;
}
.register_top .register .form_register button {
  background: #0073ff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 14px 0;
  margin-bottom: 20px;
}
.register_top .register div a{
  text-decoration: none;
}
.register_top .register .form_register a {
  width: 100%;
}
.register_top .register .form_register a button{
  width: 100%;
  background: white;
  color: black;
  border: 1px solid rgba(51, 51, 51, 0.13);;
}